body {
    
    background: rgb(0, 0, 0) !important;
    position: relative;
    font-family: "Arimo",Arial,Helvetica,"Lucida Grande",sans-serif !important;
    letter-spacing: -.03em;
    color: #fff;
    font-size: 16px;
}

.body{
    padding:0px 0 30px 0;
    
}
.inner-body {
    text-align: center;
    padding: 20px 20px;
    width: 60%;
    float: left;
}

.title {
    font-weight: bold;
    color: rgb(245, 21, 21);
    letter-spacing: 1px;
    font-size: 50px;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/cinee.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.content{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 1px;
}

.btn-main {
    padding: 10px 30px;
    border: 1px solid #fd3325;
    background: transparent;
    color: #fff !important;
    font-size: 22px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 10px;
    
}

.btn-main-primary {
    background-color: #fd2a2a;
    color: #fff !important;
    text-align: center;
    width: 20%;
}

.btn-main:hover {
    background:#fd2a2a;
    color: #fff;
}

.searchBox {
    margin-top: 20px;
    font-size: 25px;
    border-radius: 30px;
    padding: 7px 20px;
    width: 50%;
    border: 2px solid #fd2a2a;
    outline: 0;
    display: inline;
    color: #fff;
    background:transparent;
}

.about-box {
    background: #222;
    text-align: center;
}

.about {
    padding: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    width:60%;
}

.about-content {
    font-size: 20px;
    color: silver;
    margin-top: 40px;
    letter-spacing: 1px;
    text-align: center;
}


.img {
    border: 5px solid #fff;
    border-radius: 5px;
}



.button {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline;
    color: #fff;
    background: #fd2a2a;;
    border: 0;
    outline: 0;
    border-radius: 10px;
}


.footer {
    text-align: center;
    background-color:rgba(235, 8, 8, 0.397);
    color: silver;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 5px;
}

.caja{
    float: right;
    width: 40%;
}